/* ===== HOME PAGE START ===== */
.home-page .inner{
    padding-top: 150px;
    padding-bottom: 170px;
}
.home-page .inner .inner-content span{
    display: inline-block;
    margin-bottom: 55px;
}
.home-page .inner .inner-form .inner-search{
    -webkit-box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
    box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
}
.home-page .release-products .tags{
    margin-top: 55px;
    margin-bottom: 60px;
}
.home-page .release-products .container-fluid{
    margin-bottom: 45px;
}
.home-page .release-products .card{
    margin-bottom: 30px;
}
.home-page .release-products .btn + .btn{
    margin-left: 10px;
}

.home-page .trending-products{
    padding-top: 120px;
    padding-bottom: 185px;
}
.home-page .trending-products .title.section-title{
    margin-bottom: 45px;
}

.home-page .why-choose .title{
    margin-bottom: 80px;
}
.home-page .why-choose .why-choose-item:hover .title{
    color: #8bc34a;
}
.home-page .why-choose .why-choose-item .title{
    margin-top: 30px;
    margin-bottom: 25px;
}
.home-page .why-choose .why-choose-item p{
    color: #b0bec5;
}
.home-page .become-author{
    padding-top: 130px;
    padding-bottom: 138px;
}
.home-page .become-author .collage{
    position: relative;
}
.home-page .become-author .collage .collage-img{
    -webkit-box-shadow: 0 0 45px rgba(181, 181, 181, 1);
    box-shadow: 0 0 45px rgba(181, 181, 181, 1);
    min-height: 440px;
}
.home-page .become-author .collage .become-author-content{
    position: absolute;
    padding: 70px 55px 80px;
    top: 50%;
    left: 50%;
    max-width: 650px;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home-page .become-author .collage .become-author-content .title{
    font-size: 30px;
}
.home-page .free-tutorials{
    margin-bottom: -100px;
}
.home-page .free-tutorials .tutorial-items-block{
    margin-top: 55px;
}
.home-page .free-tutorials .tutorial-item .tutorial-item-img{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.home-page .free-tutorials .tutorial-item .tutorial-description{
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: #f8f8f8;
}

@media (max-width: 991px){
    .home-page .trending-products{
        padding-top: 90px;
        padding-bottom: 145px;
    }
    .home-page .why-choose .why-choose-item{
        padding-bottom: 45px;
    }
    .home-page .free-tutorials .tutorial-item{
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .home-page .title.section-title{
        font-size: 30px;
    }
    .home-page .release-products .tags{
        display: none;
    }
    .home-page .become-author .collage .become-author-content{
        padding: 50px 15px 60px;
    }
}
@media (max-width: 599px){
    .home-page .trending-products{
        padding-top: 50px;
        padding-bottom: 115px;
    }
    .home-page .become-author .collage .become-author-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .home-page .become-author .collage .become-author-content .btn{
        margin-top: 20px;
    }
}
@media (max-width: 479px){
    .home-page .free-tutorials .tutorial-item .tutorial-description .title{
        font-size: 20px;
    }
}
/* ===== HOME PAGE END ===== */

/* ===== ALL ITEMS START ===== */

.all-items-page-container .aside-section-list{
    margin-top: 27px;
}
.all-items-page-container .aside-section-list li + li{
    margin-top: 25px;
}
.all-items-page-container .aside-section-list i{
    font-size: 14px;
    color: #8bc34a;
    margin-right: 10px;
}
.all-items-page-container .aside-section-list a{
    color: #263238;
}
.all-items-page-container .aside-section-list a:hover{
    color: #8bc34a;
}
.all-items-page-container .aside-section-list a span{
    color: #90a4ae;
    float: right;
}
.all-items-page-container .aside-section .btn{
    width: 100%;
}
.sort-controls-container{
    padding: 20px;
}
.sort-controls-container .sort-by{
    font-size: 14px;
    margin-right: auto;
    padding-left: 20px;
}
.sort-controls-container .sort-by i{
    color: #455a64;
}
.all-items-page-container .sort-controls-container .change-view .change-icon{
    cursor: pointer;
}
.all-items-page-container .sort-controls-container .change-view .change-icon.active{
    color: #8bc34a;
}
.all-items-page-container .card.small-card{
    margin-top: 26px;
    margin-bottom: 15px;
}
.all-items-page-container .card.medium-card{
    margin-top: 30px;
}

@media (max-width: 1199px){
    .all-items-page-container .aside-section{
        padding: 20px 15px 30px;
    }
    .all-items-page-container .card.medium-card .card-description{
        padding: 20px 10px;
    }
    .all-items-page-container .card.row-card .card-description-wrapper .card-text-info{
        font-size: 14px;
    }
    .all-items-page-container .card .product-rating li .fa{
        font-size: 10px;
    } 
}
@media (max-width: 767px){
    .all-items-page-container .card.row-card .card-description .price{
        font-size: 24px;
    }
    .all-items-page-container .card.row-card .card-description .sales-count{
        display: none;
    }
    .all-items-page-container .card.row-card .card-author-info{
        padding: 10px 15px;
    }
    .all-items-page-container .card.row-card .card-author-info .comment-heart .comment::before, .card.row-card .card-author-info .comment-heart .heart::before{
        display: none;
    }
    .all-items-page-container .card.row-card .card-author-info .comment-heart .heart{
        margin-left: 20px;
    }
}
@media (max-width: 599px){
    .all-items-page-container .card.row-card .card-description-wrapper .card-text-info{
        font-size: 12px;
    }
    .all-items-page-container .card.row-card .item-info{
        margin-top: 15px;
    }
    .all-items-page-container .card.row-card .card-author-info .comment-heart .fa{
        margin-right: 5px;
    }
    .all-items-page-container .card.row-card .card-author-info .comment-heart .heart{
        margin-left: 10px;
    }
    .all-items-page-container .card.row-card .card-author-info .comment-heart{
        margin-left: 10px;
    }
    .all-items-page-container .card.medium-card .card-description{
        padding: 10px;
    }
    .all-items-page-container .card.medium-card .card-description .title{
        font-size: 14px;
    }
    .all-items-page-container .card .card-description .subtitle{
        font-size: 12px;
    }
    .all-items-page-container .card .card-description .price{
        font-size: 16px;
    }
    .all-items-page-container .card.medium-card .card-author-info{
        padding: 10px;
    }
}
@media (max-width: 479px){
    .all-items-page-container .card{
        width: 100%;
    }
    .all-items-page-container .card.row-card{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .all-items-page-container .card.row-card .card-img img{
        width: 100%;
    }
}
/* ===== ALL ITEMS END ===== */

/* ===== LOGIN ===== */

/* ==== header-login ==== */

.header-login{
    padding: 26px 0;
}
.header-login .logo{
    margin-right: 62px;
}
.header-login .menu-nav{
    font-size: 16px;
    font-weight: 500;
}
.header-login .menu-nav a + a{
    margin-left: 43px;
}

.header-login .btn{
    margin-right: 27px;
}

/* === header-dropdawn-login === */

.header-login .notification-content{
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 35px;
    height: 35px;
    position: relative;
}
.header-login .notification-content .number-notification{
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    text-align: center;
}
.header-login .notification-content .number-notification span{
    font-size: 11px;
}
/* === header-dropdawn-login end === */

/* ==== header-login end ==== */

/* ==== main-login ==== */

.main-login .inner{
    background: url('../../app/img/inner-login.jpg') no-repeat center / cover;
    height: 620px;
    padding-top: 160px;
}
.main-login .inner .inner-content p{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-login .inner .inner-content p span{
    font-size: inherit;
}
.main-login .inner .inner-content .inner-form{
    margin-top: 105px;
}
.main-login .inner .inner-content .inner-form .inner-search{
    -webkit-box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
    box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
}
.main-login .inner .inner-content .inner-form i{
    font-size: 20px;
    position: absolute;
    top: 18px;
    right: 25px;
}
  
/* ==== main-login end ==== */

/* ==== footer start ===== */
.footer-login{
    height: 180px;
}
/* ==== footer start ===== */

/* ===  btn login === */

.btn.btn-creat-an-account{
    width: 250px;
    padding: 17px 0; 
}
.btn.btn-login-sub{
    width: 140px;
    height: 48px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 2px 0 rgba(118, 174, 54, 0.75);
    box-shadow: 0 2px 2px 0 rgba(118, 174, 54, 0.75);        
}
.modal .modal-conent .btn-green:hover{
    background-color: #8bc34a;
}
.modal .modal-conent .btn-row-modal{
    margin-top: 20px;
    margin-bottom: 28px;
}

/* ==== btn login end ====  */

/* ==== modal-login ==== */

.modal{
    display: none;
}
.modal .modal-conent{
    padding: 90px 165px 110px;
    position: relative;
}
.modal .modal-conent .close-modal{
    position: absolute;
    top: 20px;
    right: 28px;
}
.modal .modal-conent .title-modal{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}

.modal .input-icon{
    width: 400px;
    height: 43px;
    position: relative;
}
.input-icon input::-webkit-input-placeholder{
    color: #fff !important;
}

.input-icon input:-moz-placeholder{ /* Firefox 18- */
    color: #fff !important;
}

.input-icon input::-moz-placeholder{  /* Firefox 19+ */
    color: #fff !important;
}

.input-icon input:-ms-input-placeholder{
    color: #fff !important;
}
.modal .input-icon + .input-icon{
    margin-top: 8px;
}
.modal .input-icon input{
    width: 100%;
    height: 100%;
    padding-left: 40px;
    background-color: #638f3e;
    border: none;
}
.modal .input-icon label{
    position: absolute;
    top: 13px;
    left: 18px;
}

/* ==== modal-login end ==== */

/* ===== LOGIN END ===== */

/* ===== SALES STATEMENT START ===== */
.sales-statement .title-block{
    padding: 17px 21px 18px 31px;
}
.sales-statement .date-form .date{
    position: relative;
}
.sales-statement .date-form .date input{
    border: 1px solid #dedede;
    height: 28px;
    width: 134px;
    padding-left: 15px;
    color: #444;
}
.sales-statement .date-form .date input:focus{
    outline: 0;
}
.sales-statement .date-form .date .fa{
    font-size: 12px;
    color: #8cc148;
    position: absolute;
    top: 9px;
    right: 11px;
}
.sales-statement .date-form span{
    margin: 0 10px;
    font-size: 12px;
    color: #444;
    font-weight: 400;
}
.sales-statement .date-form .btn{
    margin-left: 13px;
    border: none;
}
.your-sales-table{
    padding: 35px 35px 80px 42px;
    border: 1px solid #d7d7d7;
    border-top: none;
}
.sales-statement .your-sales-table .title{
    font-size: 30px;
    margin-top: 80px;
}
.sales-statement .title span{
    color: #8bc34a;
}
@media (max-width: 991px){
    .sales-statement .title-block{
        padding: 15px 20px;
    }
    .your-sales-table{
        padding: 20px;
    }
    .sales-statement .your-sales-table .title{
        margin-top: 30px;
    }
}
@media (max-width:767px){
    .sales-statement .title-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .sales-statement .title-block .date-form{
        margin-top: 15px;
    }
}
@media (max-width: 599px){
    .your-sales-table{
        padding: 10px;
    }
    .sales-statement .your-sales-table .title{
        font-size: 24px;
        margin-top: 20px;
    }
}
@media (max-width: 479px){
    .sales-statement .title-block > span {
        font-size: 20px;
    }
    .sales-statement .title-block .date-form form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .sales-statement .title-block .date-form .datepicker{
        margin-bottom: 15px;
    }
    .sales-statement .date-form .btn{
        margin-left: 0;
        width: 100%;
    }
}
/* ===== SALES STATEMENT END ===== */

/* ===== WITHDRAWALS START ===== */
.withdrawals .title-block{
    padding: 17px 0 21px 31px;
}
.withdrawals .earnings-form,
.withdrawals .history-table{
    border: 1px solid #d7d7d7;
    border-top: none;
}
.withdrawals .earnings .earnings-form{
    padding: 19px 40px 49px 37px;
}
.withdrawals .earnings .form-row{
    padding: 0;
}
.withdrawals .earnings .form-row .form-text{
    display: inline-block;
    margin-bottom: 20px;
    color: #263238;
}
.withdrawals .earnings .form-row .form-text::after{
    content: '*';
    font-size: 24px;
    color: #8bc34a;
}
.withdrawals .earnings .form-row .input{
    width: 100%;
    border-color: #d8d8d8;
}
.withdrawals .history-table{
    padding: 33px 39px 36px 37px;
}
.withdrawals .history-table .table td{
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #444;
    border: none;
}
.withdrawals .history-table .table tbody tr:nth-child(odd) td{
    background-color: #f9f9f9;
}
.withdrawals .history-table .table tbody tr:nth-child(even) td{
    background-color: #fff;
}
.withdrawals .history-table .table tbody tr td:nth-child(3){
    font-weight: 700;
}
.withdrawals .history-table .table tbody tr td:nth-child(4){
    color: #8bc34a;
}
.withdrawals .history-table .table tbody tr:nth-child(1) td:nth-child(4){
    color: #444;
}
@media (max-width: 991px){
    .withdrawals > .container > .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .withdrawals .earnings{
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .withdrawals .title-block{
        padding: 15px;
        text-align: center;
    }
    .withdrawals .earnings .earnings-form{
        padding: 20px;
    }
}
@media (max-width: 599px){
    .withdrawals .title-block{
        font-size: 20px;
    }
}
@media (max-width: 479px){
    .withdrawals .earnings .form-row .form-text{
        font-size: 13px;
    }
    .withdrawals .earnings .form-row .form-text::after{
        font-size: 20px;
    }
    .withdrawals .earnings-form .btn{
        width: 100%;
    }
}
/* ===== WITHDRAWALS END ===== */