/* ===== HOME PAGE START ===== */
.home-page .inner{
    padding-top: 150px;
    padding-bottom: 170px;
}
.home-page .inner .inner-content span{
    margin-bottom: 55px;
}
.home-page .inner .inner-form .inner-search{
    box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
}
.home-page .release-products{
    padding-top: 120px;
    padding-bottom: 110px;
}
.home-page .release-products .tags{
    margin-top: 55px;
    margin-bottom: 60px;
}
.home-page .release-products .container-fluid{
    margin-bottom: 45px;
}
.home-page .release-products .card{
    margin-bottom: 30px;
}
.home-page .release-products .btn + .btn{
    margin-left: 10px;
}

.home-page .trending-products{
    padding-top: 120px;
    padding-bottom: 185px;
}
.home-page .trending-products .title{
    margin-bottom: 45px;
}

.home-page .why-choose{
    padding-top: 120px;
    padding-bottom: 115px;
}
.home-page .why-choose .title{
    margin-bottom: 80px;
}
.home-page .why-choose .why-choose-item:hover .title{
    color: #8bc34a;
}
.home-page .why-choose .why-choose-item .title{
    margin-top: 30px;
    margin-bottom: 25px;
}
.home-page .why-choose .why-choose-item p{
    color: #b0bec5;
}
.home-page .become-author{
    padding-top: 130px;
    padding-bottom: 138px;
}
.home-page .become-author .collage{
    position: relative;
}
.home-page .become-author .collage .become-author-content{
    position: absolute;
    top: 116px;
    bottom: 107px;
    left: 226px;
    right: 226px;
    padding-right: 60px;
    padding-left: 60px;
}
.home-page .become-author .collage .become-author-content .title{
    font-size: 30px;
}
.home-page .free-tutorials{
    padding-top: 116px;
    padding-bottom: 120px;
    margin-bottom: -100px;
}
.home-page .free-tutorials .tutorial-items-block{
    margin-top: 55px;
}
.home-page .free-tutorials .tutorial-item .tutorial-description{
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: #f8f8f8;
}
/* ===== HOME PAGE END ===== */

/* ===== ALL ITEMS START ===== */
.sort-controls-container{
    padding: 20px;
}
.sort-controls-container .sort-by{
    font-size: 14px;
}
.sort-controls-container .sort-by i{
    color: #455a64;
}
.all-items-page-container .aside-section-list{
    margin-top: 27px;
}
.all-items-page-container .aside-section-list li + li{
    margin-top: 25px;
}
.all-items-page-container .aside-section-list i{
    font-size: 14px;
    color: #8bc34a;
    margin-right: 10px;
}
.all-items-page-container .aside-section-list a{
    color: #263238;
}
.all-items-page-container .aside-section-list a span{
    color: #90a4ae;
    float: right;
}
.all-items-page-container .aside-section .btn{
    width: 100%;
}
.all-items-page-container .card.small-card{
    margin-top: 26px;
    margin-bottom: 15px;
}
.all-items-page-container .card.medium-card{
    margin-top: 30px;
}
/* ===== ALL ITEMS END ===== */

/* ===== LOGIN ===== */

/* ==== header-login ==== */

.header-login{
    padding: 26px 0;
}
.header-login .logo{
    margin-right: 62px;
}
.header-login .menu-nav{
    font-size: 16px;
    font-weight: 500;
}
.header-login .menu-nav a + a{
    margin-left: 43px;
}

.header-login .btn{
    margin-right: 27px;
}

/* === header-dropdawn-login === */

.header-login .notification-content{
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 35px;
    height: 35px;
    position: relative;
}
.header-login .notification-content .number-notification{
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    text-align: center;
}
.header-login .notification-content .number-notification span{
    font-size: 11px;
}
/* === header-dropdawn-login end === */

/* ==== header-login end ==== */

/* ==== main-login ==== */

.main-login .inner-login{
    background: url('../../app/img/inner-login.jpg') no-repeat center / cover;
    height: 60vh;
}
.main-login .inner-login .inner-login-content{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-login .inner-login .inner-login-content .inner-form{
    position: relative;
    margin-top: 105px;
}
.main-login .inner-login .inner-login-content .inner-form .inner-search{
    box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
}
.main-login .inner-login .inner-login-content .inner-form i{
    font-size: 20px;
    position: absolute;
    top: 18px;
    right: 25px;
}
  
/* ==== main-login end ==== */

/* ==== footer start ===== */
.footer-login{
    height: 180px;
}
/* ==== footer start ===== */

/* ===  btn login === */

.btn.btn-creat-an-account{
    width: 250px;
    padding: 17px 0; 
}
.btn.btn-login-sub{
    width: 140px;
    height: 48px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(118, 174, 54, 0.75);        
}
.modal .modal-conent .btn-green:hover{
    background-color: #8bc34a;
}
.modal .modal-conent .btn-row-modal{
    margin-top: 20px;
    margin-bottom: 28px;
}

/* ==== btn login end ====  */

/* ==== modal-login ==== */

.modal{
    display: none;
}
.modal .modal-conent{
    padding: 90px 165px 110px;
    position: relative;
}
.modal .modal-conent .close-modal{
    position: absolute;
    top: 20px;
    right: 28px;
}
.modal .modal-conent .title-modal{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}

.modal .input-icon{
    width: 400px;
    height: 43px;
    position: relative;
}
.input-icon input::-webkit-input-placeholder{
    color: #fff !important;
}

.input-icon input:-moz-placeholder{ /* Firefox 18- */
    color: #fff !important;
}

.input-icon input::-moz-placeholder{  /* Firefox 19+ */
    color: #fff !important;
}

.input-icon input:-ms-input-placeholder{
    color: #fff !important;
}
.modal .input-icon + .input-icon{
    margin-top: 8px;
}
.modal .input-icon input{
    width: 100%;
    height: 100%;
    padding-left: 40px;
    background-color: #638f3e;
    border: none;
}
.modal .input-icon label{
    position: absolute;
    top: 13px;
    left: 18px;
}

/* ==== modal-login end ==== */

/* ===== LOGIN END ===== */

/* ===== SALES STATEMENT START ===== */
.sales-statement .title-block{
    padding: 17px 21px 18px 31px;
}
.sales-statement .date-form .date{
    position: relative;
}
.sales-statement .date-form .date input{
    border: 1px solid #dedede;
    height: 28px;
    width: 134px;
    padding-left: 15px;
    color: #444;
}
.sales-statement .date-form .date input:focus{
    outline: 0;
}
.sales-statement .date-form .date .fa{
    font-size: 12px;
    color: #8cc148;
    position: absolute;
    top: 9px;
    right: 11px;
}
.sales-statement .date-form span{
    margin: 0 10px;
    font-size: 12px;
    color: #444;
    font-weight: 400;
}
.sales-statement .date-form .btn{
    margin-left: 13px;
    border: none;
}
.your-sales-table{
    padding: 35px 35px 80px 42px;
    border: 1px solid #d7d7d7;
    border-top: none;
}
.sales-statement .your-sales-table .title{
    font-size: 30px;
    margin-top: 80px;
}
.sales-statement .title span{
    color: #8bc34a;
}
/* ===== SALES STATEMENT END ===== */

/* ===== WITHDRAWALS START ===== */
.withdrawals .title-block{
    padding: 17px 0 21px 31px;
}
.withdrawals .earnings-form,
.withdrawals .history-table{
    border: 1px solid #d7d7d7;
    border-top: none;
}
.withdrawals .earnings .earnings-form{
    padding: 19px 40px 49px 37px;
}
.withdrawals .earnings .form-row{
    padding: 0;
}
.withdrawals .earnings .form-row .form-text{
    display: inline-block;
    margin-bottom: 20px;
    color: #263238;
}
.withdrawals .earnings .form-row .form-text::after{
    content: '*';
    font-size: 24px;
    color: #8bc34a;
}
.withdrawals .earnings .form-row .input{
    width: 100%;
    border-color: #d8d8d8;
}
.withdrawals .history-table{
    padding: 33px 39px 36px 37px;
}
.withdrawals .history-table .table td{
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #444;
    border: none;
}
.withdrawals .history-table .table tbody tr:nth-child(odd) td{
    background-color: #f9f9f9;
}
.withdrawals .history-table .table tbody tr:nth-child(even) td{
    background-color: #fff;
}
.withdrawals .history-table .table tbody tr td:nth-child(3){
    font-weight: 700;
}
.withdrawals .history-table .table tbody tr td:nth-child(4){
    color: #8bc34a;
}
.withdrawals .history-table .table tbody tr:nth-child(1) td:nth-child(4){
    color: #444;
}
/* ===== WITHDRAWALS END ===== */